<ion-card class="2xl:w-1/3 xl:w-2/5 lg:w-1/2 md:w-3/4 w-11/12 mx-auto">
  <ion-card-header class="ion-no-padding ion-no-margin">
    <ion-item lines="none">
      <ion-button slot="end" title="share portfolio" fill="clear" class="gray" (click)="copyPortfolioLink()">
        <ion-icon size="small" name="share-outline"></ion-icon>
      </ion-button>
    </ion-item>

    
  </ion-card-header>
  
  <ion-card-content>
    <ion-item lines="none">
      <ion-thumbnail slot="start">
        <ion-img alt="Profile Pic" src="../../../../assets/my_pic.JPG"></ion-img>
      </ion-thumbnail>
      <ion-label class="ion-text-wrap">
        <h1 style="font-weight: 700;">Anirud Shrestha</h1>
        <p>Student Developer @ Boise State</p>
      </ion-label>
    </ion-item>

    <div class="flex items-center justify-center">
      <ion-item lines="none">
        <ion-label>
          <h3 style="font-weight: 500;">CS Student | Sophomore | Boise</h3>
        </ion-label>
      </ion-item>
    </div>

    <div class="w-fit flex justify-center items-center mx-auto sm:ml-auto sm:mx-0">
      <!-- <ion-item lines="none"> -->
        <ion-buttons slot="end">
          <ion-button color="dark" target="_blank" href="https://github.com/Anirud2002">
            <ion-icon name="logo-github"></ion-icon>
          </ion-button>
          <ion-button color="dark" target="_blank" href="https://www.linkedin.com/in/anirud-shrestha/">
            <ion-icon name="logo-linkedin"></ion-icon>
          </ion-button>
          <ion-button color="dark" target="_blank" href="https://twitter.com/AnirudStha">
            <ion-icon name="logo-twitter"></ion-icon>
          </ion-button>
        </ion-buttons>
      <!-- </ion-item> -->
    </div>
  </ion-card-content>
</ion-card>
