<ion-card class="big-card">
  <ion-card-header class="ion-no-padding ion-no-margin">
    <ion-item lines="none">
      <ion-button slot="end" title="share portfolio" fill="clear" class="gray">
        <ion-icon size="small" name="share-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-card-header>
  <ion-card-content>
    <ion-item lines="none">
      <ion-thumbnail slot="start">
        <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
      </ion-thumbnail>
      <ion-label>
        <h1>Anirud Shrestha</h1>
        <p>Student Developer @ Boise State</p>
      </ion-label>
    </ion-item>

    <div class="flex items-center justify-center">
      <ion-item lines="none">
        <ion-label>
          <p>CS Student | Sophomore | Boise</p>
        </ion-label>
      </ion-item>
    </div>

    <div>
      <ion-item lines="none">
        <ion-buttons slot="end">
          <ion-button>
            <ion-icon name="logo-github"></ion-icon>
          </ion-button>
          <ion-button>
            <ion-icon name="logo-linkedin"></ion-icon>
          </ion-button>
          <ion-button>
            <ion-icon name="logo-twitter"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>
    </div>
  </ion-card-content>
</ion-card>
