<div class="about flex ion-padding flex-col md:flex-row md:10/12 lg:w-8/12 mx-auto my-8 items-center">
  
  <div class="flex-1 order-2 md:order-1">
    <h1 class="font-semibold text-3xl mb-4">Hey, there! 👋</h1>
    <p>I am <span class="font-semibold">Anirud Shrestha</span>. Nice to meet you!</p>
    <p>I enjoy building creative and dynamic web apps and mobile apps. I have +2 years of experience working as student software developer for <span class="font-semibold">Boise State University.</span> I enjoy learning new things everyday and believe in becoming better than who I was yesterday. </p> 
    <p>Alright, since you know me a little, download my resume to check the work I have done.</p>

    <ion-button class="mt-4" download href="../../../../assets/Anirud_Shrestha_Resume.pdf">
      <ion-icon slot="end" name="newspaper-outline" size="small"></ion-icon>
      Download Resume
    </ion-button>
  </div>

  <div class="flex-1 flex justify-center items-center order-1 md:order-2 mb-4">
    <img src="../../assets/me.jpg" alt="me" class="rounded-2xl w-72">
  </div>

</div>